In [160]:
#Data.csv

**Step 1: Importing the libraries**

In [161]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split

**Step 2: Importing dataset**

In [162]:
df=pd.read_csv('/content/Data (1).csv')

**Step 3: Handling the missing data**

In [163]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [164]:
median_value=df['Age'].median()
df['Age'].fillna(value=median_value,inplace=True)
mean_value=df['Salary'].mean()
df['Salary'].fillna(value=mean_value,inplace=True)

In [165]:
df

   Country   Age        Salary Purchased
0   France  44.0  72000.000000        No
1    Spain  27.0  48000.000000       Yes
2  Germany  30.0  54000.000000        No
3    Spain  38.0  61000.000000        No
4  Germany  40.0  63777.777778       Yes
5   France  35.0  58000.000000       Yes
6    Spain  38.0  52000.000000        No
7   France  48.0  79000.000000       Yes
8  Germany  50.0  83000.000000        No
9   France  37.0  67000.000000       Yes

**Step 4: Encoding categorical data**

In [166]:
df['Purchased']=df['Purchased'].map({'Yes':1,'No':2})

**Step 5: Creating a dummy variable**

In [167]:
df['Country'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [168]:
df_country=pd.get_dummies(df['Country'])

**Step 6: Splitting the datasets into training sets and Test sets**

In [169]:
from sklearn.model_selection import train_test_split

In [170]:
df=df.drop('Country',axis=1)

In [171]:
df

    Age        Salary  Purchased
0  44.0  72000.000000          2
1  27.0  48000.000000          1
2  30.0  54000.000000          2
3  38.0  61000.000000          2
4  40.0  63777.777778          1
5  35.0  58000.000000          1
6  38.0  52000.000000          2
7  48.0  79000.000000          1
8  50.0  83000.000000          2
9  37.0  67000.000000          1

In [174]:
df=pd.concat([df_country,df],axis=1)

In [175]:
df.head()

   France  Germany  Spain   Age        Salary  Purchased
0       1        0      0  44.0  72000.000000          2
1       0        0      1  27.0  48000.000000          1
2       0        1      0  30.0  54000.000000          2
3       0        0      1  38.0  61000.000000          2
4       0        1      0  40.0  63777.777778          1

In [179]:
x=df.iloc[:,0:4]
y=df[['Purchased']]

In [180]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

**Step 7: Feature Scaling**

In [186]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train_scalar=scaler.fit_transform(x_train)
y_train_scalar=scaler.transform(x_test)